*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/gradle.properties
/.idea/assetWizardSettings.xml
/local.properties
.DS_Store
/build
/.idea
google-services.json
/captures
.externalNativeBuild
.cxx
local.properties
